.vscode
__pycache__
/laskarit/viikko2/unicafe/.pytest_cache
/laskarit/viikko2/unicafe/.coverage
/laskarit/viikko2/unicafe/htmlcov
.coverage
htmlcov
/minigolf-game/data/db.sqlite
/minigolf-game/data/test_db.sqlite
site/